<dx-chart [resizePanesOnZoom]="true" [dataSource]="data">
  <dxo-animation [enabled]="false"></dxo-animation>
  <dxo-tooltip [enabled]="true"></dxo-tooltip>
  <dxi-series valueField="p" name="Price"> </dxi-series>
  <dxo-loading-indicator [enabled]="!data.length"></dxo-loading-indicator>
  <dxo-title text="Trades"> </dxo-title>
  <dxo-common-series-settings argumentField="t"> </dxo-common-series-settings>
  <dxo-argument-axis
    [valueMarginsEnabled]="false"
    discreteAxisDivisionMode="crossLabels"
  >
    <dxo-grid [visible]="true"></dxo-grid>
  </dxo-argument-axis>
</dx-chart>
